<!-- Sponsor Section -->
    <section id="venue">
        <div class="content-wrapper">
            <div class="col-lg-5 col-lg-offset-1">
                <div class="row venue-row">
                    <div class="venue-elem-wrapper">
                        <img src="img/sections-background/sponsors.jpg" alt="sponsor" width="450" height="250">
                    </div>
                </div>
            </div>
            <div class="col-lg-13 ">
                <div class="row venue-row col-lg-offset-1">
                    <div class="venue-elem-wrapper">
                        <img src="img/sections-background/sponsors2.jpg" alt="sponsor" width="400" height="250">
                    </div>
                </div>
            </div>
    </section>

<!-- End Sponsor Section --> 